html {
  font-size: 62.5%;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  min-height: 100vh;
}
#root{
  font-size: 1.6rem;    
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(2,0,36);
  background: linear-gradient(320deg, #ac62c9 0%, rgb(200 161 245) 70%, #eec3ff 100%)
}
